body{
  color: #ffffff;
  background-color: #1f202b;
  margin: auto;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  float: left;
}

h1{
  font-family: 'source code pro', serif;
  font-size:72px;
  color: #fa0075;
  padding-top: 100px;
}

h3, nav{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
}

h2{
  font-family: 'source code pro', serif;
  color: #fa0075;
  font-size: 36px;
  text-align: center;
}

nav ul li{
  list-style-type: none;
  display: inline;
  float: right;
  padding-left: 30px;
}

header{
  height: 750px;
  clear: both;
}

.full-width{
  width: 1200px;
  float: left;
}

.half-width{
  width: 500px;
  float: left;
}

#work{
  height: 1550px;
  float: left;
}

#work img{
  border-width: 1px;
  border-color: #b7b7b7;
  float: left;
  display: inline-block
  width: 500px;
}

#about{
  height: 550px;
  float: left;
}

#about img{
  float: left;
  display: inline-block;
  width: 500px;
}

#contact{
  height: 350px;
  float: left;
}
