/***** BASE STYLES *****/


body{
  color: #ffffff;
  background-color: #1f202b;
  margin: auto;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  float: left;
}

h1{
  font-family: 'source code pro', serif;
  font-size:72px;
  color: #fa0075;
  padding-top: 100px;
}

h3, nav{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
}

h2{
  font-family: 'source code pro', serif;
  color: #fa0075;
  font-size: 36px;
  text-align: center;
}

nav ul li{
  list-style-type: none;
  display: inline;
  float: right;
  padding-left: 20px;
}

header{
  height: 750px;
  clear: both;
}

.full-width{
  width: 1200px;
  float: left;
  overflow: auto;
}

.half-width{
  width: 600px;
  float: left;
}

/***** PORTFOLIO *****/

#work{
  height: 1550px;
  float: left;
  margin: 0 20px;
}

#work #rogue-img #jubilee-img #recipe-img{
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #b7b7b7;
}

#work #rogue-img #jubilee-img #recipe-txt {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 5px;
  float: left;
}

#work #recipe-img #rogue-txt #jubilee-txt{
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 5px;
  float: left;
}

#work .full-width{
  padding: 5px 0;
}

#recipe-txt{
  box-sizing: border-box;
  padding-right: 50px;
  text-align: right;
}

/***** ABOUT *****/

#about{
  height: 550px;
  float: left;
}

#about img{
  float: left;
  display: block;
  width: 500px;
}

/***** CONTACT *****/


#contact{
  height: 350px;
  float: left;
}
